# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
os

# data science
math
numpy
pandas
tensorflow
matplotlib
scipy.spatial

# utilities
pyvjoy
opencv-python
imutils
random
time
datetime
pickle
mediapipe


#screenshot
Pillow
PyAutoGUI
